.sidebar {
  padding: 25px 10px;
  flex: 0.33 1;
  min-width: 200px !important;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 1100px) {
  .sidebar {
    display: none;
  }
}
